 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-size: 1.1em;
    }

body {
      font-family: 'Gowun Batang', serif;
      font-size: 1.1em;
      -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust : none;  /* IE */
  -moz-text-size-adjust : none;  /* 파이어폭스 */
  -o-text-size-adjust : none;  /* 오페라 구버전 */
    }

p {
    font-size: 1.1em !important; 
}


.section_01,.section_02,.section_03,.section_05{
    padding-top: 100px;
    text-align: center;
    width: 100%;
}

.section_02>img{
    margin: 10px 0;
}

.section_03>p{
    margin: 30px 0 100px 0;
}

.section_04 {
    padding-top: 100px;
}
.section_04>p{
    margin: 10px;
}
.section_05>img{
    margin: 10px;
    clear: both;
    padding-bottom: 10px;
}
.section_05>.bank_box{
    display:inline-flex;
    width: 100%;
    font-size: 1.1em !important;
}
.section_05>.bank_box>div{
    text-align: center;
    width: 50%;
}
.section_05>.bank_box>div>.btn{
    width:200px;
    height: 100px;
    background: #333;
    color:#fff;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    font-family: 'Gowun Batang', serif;
    font-size: 1.1em;
    border: 0;
}
.section_05>p{
    width: 100%;
    clear: both;
    margin-top: 50px;
    margin-bottom: 100px;
}

#text1, #text2 {
    font-size: 1.1em !important;
}